.qrcode .cell {
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.qrcode:hover .cell {
  animation-play-state: paused;
}

@mixin define-cell-animation($x, $y, $delay) {
  .cell.to-x#{$x}.to-y#{$y} {
    animation-name: move-to-x#{$x}, move-to-y#{$y};
    animation-delay: #{$delay};

    &.to-filled {
      animation-name: move-to-x#{$x}, move-to-y#{$y}, to-filled;
    }

    &.to-empty {
      animation-name: move-to-x#{$x}, move-to-y#{$y}, to-empty;
    }
  }
}

@function random-sign() {
  $rand: random();
  @if ($rand < 0.5) {
    @return -1;
  } @else {
    @return 1;
  }
}

@mixin define-move-to-x-keyframe($x) {
  $sign: random-sign();
  $rand1: random();
  $rand2: random();
  $final: $x * 90px;
  @keyframes move-to-x#{$x} {
    50% {
      left: ($sign * $rand1 * 10px) + $final;
    }

    75% {
      left: ($sign * $rand2 * 20px) + $final;
    }

    to {
      left: $final;
    }
  }
}

@mixin define-move-to-y-keyframe($y) {
  $sign: random-sign();
  $rand1: random();
  $rand2: random();
  $final: $y * 90px;
  @keyframes move-to-y#{$y} {
    50% {
      top: ($sign * $rand1 * 10px) + $final;
    }

    75% {
      top: ($sign * $rand2 * 20px) + $final;
    }

    to {
      top: $final;
    }
  }
}

$width: 3;
$height: 3;
$delay: 0;
$delay_inc: 0.1;
@for $x from 0 to $width {
  @for $y from 0 to $height {
    @include define-cell-animation($x, $y, "#{$delay}s");
    $delay: $delay + $delay_inc;
  }
}
@for $x from 0 to $width {
  @include define-move-to-x-keyframe($x);
}
@for $y from 0 to $height {
  @include define-move-to-y-keyframe($y);
}

@keyframes to-filled {
  to {
    background-color: black;
    opacity: 1;
  }
}

@keyframes to-empty {
  to {
    background-color: white;
    opacity: 0;
  }
}
