.qrcode .cell {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.cell.to-x0.to-y2 {
  animation-name: move-to-x0-y2;
}

.cell.to-x1.to-y2 {
  animation-name: move-to-x1-y2;
}

.cell.to-x2.to-y2 {
  animation-name: move-to-x2-y2;
}

@keyframes move-to-x0-y2 {
  to {
    left: 0px;
    top: 180px;
  }
}

@keyframes move-to-x1-y2 {
  to {
    left: 90px;
    top: 180px;
  }
}

@keyframes move-to-x2-y2 {
  to {
    left: 180px;
    top: 180px;
  }
}
