.qrcode div {
  padding: 0px;
  margin: 0px;
}

.qrcode {
  border: 1px dashed red;
  width: 270px;
  height: 270px;
  padding: 0px;
  margin: 20px;
  position: relative;
}

.qrcode .cell {
  width: 90px;
  height: 90px;
  position: absolute;
}

.qrcode .cell.filled {
  background-color: black;
}

.qrcode .cell.empty {
  background-color: white;
  opacity: 0;
}

.qrcode .cell.x0 {
  left: 0px;
}

.qrcode .cell.x1 {
  left: 90px;
}

.qrcode .cell.x2 {
  left: 180px;
}

.qrcode .cell.y0 {
  top: 0px;
}

.qrcode .cell.y1 {
  top: 90px;
}

.qrcode .cell.y2 {
  top: 180px;
}
