@mixin define-cell-animation($x, $y, $delay) {
  .cell.to-x#{$x}.to-y#{$y} {
    animation-name: move-to-x#{$x}, move-to-y#{$y};
    animation-delay: #{$delay};

    &.to-filled {
      animation-name: move-to-x#{$x}, move-to-y#{$y}, to-filled;
    }

    &.to-empty {
      animation-name: move-to-x#{$x}, move-to-y#{$y}, to-empty;
    }
  }
}

@function random-sign() {
  $rand: random();
  @if ($rand < 0.5) {
    @return -1;
  } @else {
    @return 1;
  }
}

@mixin define-position-x($x, $cellWidth) {
  .qrcode {
    .cell.x#{$x} {
      left: $x * $cellWidth;
    }
  }
}

@mixin define-move-to-x-keyframe($x, $cellWidth) {
  $sign: random-sign();
  $rand1: random();
  $rand2: random();
  $final: $x * $cellWidth;
  @keyframes move-to-x#{$x} {
    50% {
      left: ($sign * $rand1 * calc(10 / 90) * $cellWidth) + $final;
    }

    75% {
      left: ($sign * $rand2 * calc(20 / 90) * $cellWidth) + $final;
    }

    to {
      left: $final;
    }
  }
}

@mixin define-position-y($y, $cellHeight) {
  .qrcode {
    .cell.y#{$y} {
      top: $y * $cellHeight;
    }
  }
}

@mixin define-move-to-y-keyframe($y, $cellHeight) {
  $sign: random-sign();
  $rand1: random();
  $rand2: random();
  $final: $y * $cellHeight;
  @keyframes move-to-y#{$y} {
    50% {
      top: ($sign * $rand1 * calc(10 / 90) * $cellHeight) + $final;
    }

    75% {
      top: ($sign * $rand2 * calc(20 / 90) * $cellHeight) + $final;
    }

    to {
      top: $final;
    }
  }
}

@mixin define-grid($width, $height) {
  .qrcode {
    width: 500px;
    height: 500px;
  }

  $cellWidth: calc(100% / $width);
  $cellHeight: calc(100% / $height);

  .qrcode {
    .cell {
      width: $cellWidth;
      height: $cellHeight;
    }
  }

  $delay: 0;
  $delay_inc: calc(1 / ($width * $height));
  @for $x from 0 to $width {
    @for $y from 0 to $height {
      @include define-cell-animation($x, $y, "#{$delay}s");
      $delay: $delay + $delay_inc;
    }
  }
  @for $x from 0 to $width {
    @include define-position-x($x, $cellWidth);
    @include define-move-to-x-keyframe($x, $cellWidth);
  }
  @for $y from 0 to $height {
    @include define-position-y($y, $cellHeight);
    @include define-move-to-y-keyframe($y, $cellHeight);
  }
}
